.movie-details-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.movie-infos {
  width: 80%;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-stars span {
  color: rgb(241, 241, 90);
}

.movie-tags {
  display: flex;
  gap: 20px;
  align-items: center;
}

.movie-tag {
  background-color: rgb(29, 26, 89);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
}

.productions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.productions img {
  width: 128px;
}

.movie-description {
  font-size: 18px;
}

.website-link {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  background-color: rgb(29, 26, 89);
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease-in-out all;
}

.website-link:hover {
  background-color: rgb(93, 231, 255);
}
